# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.env
.env.*
!.env.example

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages
mobile/pubspec.lock

# CDK
infra/cdk.out/
infra/node_modules/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.html
